<p-toast></p-toast>

<div class="card">
    <p-toolbar styleClass="mb-4 gap-2">
        <ng-template pTemplate="left">
            <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
        </ng-template>
    </p-toolbar>

    <p-table #dt [value]="books" [rows]="10" [paginator]="true" [globalFilterFields]="['name','status?.name','genre?.name']" [tableStyle]="{'min-width': '75rem'}"
        [rowHover]="true" dataKey="id" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" placeholder="Search..." />
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="min-width:15rem">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="author" style="min-width:15rem">Author </th>
                <th pSortableColumn="genre">Genre <p-sortIcon field="genre?.name"></p-sortIcon></th>
                <th pSortableColumn="status" style="min-width:10rem">Status <p-sortIcon field="status?.name"></p-sortIcon></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-book>
            <tr>
                <td>{{book.name}}</td>
                <td>{{book.author?.name}}</td>
                <td>{{book.genre?.name}}</td>
                <td>{{book.status?.name}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editBook(book)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteBook(book.id)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{books ? books.length : 0 }} books.
            </div>
        </ng-template>
    </p-table>
</div>

<app-book-update-modal 
[book]="selectedBook" 
[visible]="dialogVisible" 
(onClose)="onDialogClose()"
(onTableUpdate)="onTableUpdate()">
</app-book-update-modal>