<p-toast></p-toast>

<div class="card">
  <p-table
    #dt
    [value]="books"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="[
      'name',
      'author.name',
      'status?.name',
      'genre?.name'
    ]"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    [showCurrentPageReport]="true"
  >
    <ng-template pTemplate="caption">
      <div>
        <button
          pButton
          pRipple
          label="New"
          icon="pi pi-plus"
          class="p-button-success mr-2"
          (click)="openNew()"
        ></button>
        <button
          pButton
          label="Logout"
          class="p-button-danger mr-2 logout-button"
          (click)="logout()"
        ></button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="name" class="th-20">
          Name <p-sortIcon field="name"></p-sortIcon>
        </th>
        <th pSortableColumn="author.name" class="th-20">
          Author <p-sortIcon field="author.name"></p-sortIcon>
        </th>
        <th>Genre</th>
        <th class="th-18">Status</th>
        <th class="th-20"></th>
      </tr>
      <tr>
        <th>
          <p-columnFilter type="text" field="name"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="author.name"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="genre.name"></p-columnFilter>
        </th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-book>
      <tr>
        <td>{{ book.name }}</td>
        <td>{{ book.author?.name }}</td>
        <td>{{ book.genre?.name }}</td>
        <td>
          <p-badge
            [value]="book.status?.name"
            [severity]="getStatusSeverity(book.status?.name)"
          ></p-badge>
        </td>
        <td>
          <button
            *ngIf="!!book.notes"
            pButton
            pRipple
            icon="pi pi-book"
            class="p-button-rounded p-button-warning mr-3"
            (click)="showNotes(book.notes)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-3"
            (click)="editBook(book)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-danger mr-3"
            (click)="deleteBook(book.id)"
          ></button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<app-book-update-modal
  [book]="selectedBook"
  [visible]="dialogVisible"
  (dialogClose)="onDialogClose()"
  (tableUpdate)="onTableUpdate()"
>
</app-book-update-modal>

<p-dialog header="Notes" [(visible)]="displayNotes" [modal]="true">
  <p *ngFor="let row of selectedBookNotesRows">
    {{ row }}
  </p>
</p-dialog>
