<p-toast></p-toast>

<div class="card">
    <p-table #dt [value]="books" [rows]="10" [paginator]="true" [globalFilterFields]="['name', 'author.name', 'status?.name','genre?.name']" [tableStyle]="{'min-width': '75rem'}"
        [rowHover]="true" dataKey="id" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="flex align-items-center justify-content-between">
                <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="openNew()"></button>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name" style="min-width:15rem">Name <p-sortIcon field="name"></p-sortIcon></th>
                <th pSortableColumn="author.name" style="min-width:15rem">Author <p-sortIcon field="author.name"></p-sortIcon></th>
                <th>Genre</th>
                <th style="min-width:10rem">Status</th>
                <th></th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter type="text" field="name"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="author.name"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="genre.name"></p-columnFilter>
                </th>
                <th></th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-book>
            <tr>
                <td>{{book.name}}</td>
                <td>{{book.author?.name}}</td>
                <td>{{book.genre?.name}}</td>
                <td>{{book.status?.name}}</td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editBook(book)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger" (click)="deleteBook(book.id)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="flex align-items-center justify-content-between">
                In total there are {{books ? books.length : 0 }} books.
            </div>
        </ng-template>
    </p-table>
</div>

<app-book-update-modal 
[book]="selectedBook" 
[visible]="dialogVisible" 
(onClose)="onDialogClose()"
(onTableUpdate)="onTableUpdate()">
</app-book-update-modal>